version: '3.8'

services:
  db:
    image: postgres:15
    container_name: lab9_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: university_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: lab9_adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  db_data: